html{
  width: 100%; height: 100%;
}
body{
  font-family: 'Outfit', sans-serif;
  color: white;
  background: rgb(13,25,43);
  background: linear-gradient(36deg, rgba(13,25,43,1) 0%, rgba(25,48,83,1) 100%);
}

.top{
  width: 100%;
  height: 5vh;
}

.content{
  width: 45vh;
  height: 75vh;
  background-color: hsl(216, 50%, 16%);
  margin: 0 auto;
  border-radius: 10px;
  -webkit-box-shadow: 12px 9px 39px -3px black;
  -moz-box-shadow: 12px 9px 39px -3px black;
  box-shadow: 12px 9px 39px -3px black;
  padding: 3.5vh;
}

#nft{
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
}

h1{
  font-size: 3vh;
}

#desc{
  color: hsl(215, 51%, 70%);
  font-size: 2vh;
  font-weight: 200;
}

#eth{
display: inline-block;
color: hsl(178, 100%, 50%);
font-weight: 600;
margin-right: 24vh;
}

#eth_img{
 margin-right: 1vh;
}

.eth{
  justify-content: center;
  text-align: center;
  float: left;
}

#time_img{
  margin-right: 1vh;
}

#time{
  display: inline-block;
  color: hsl(215, 51%, 70%);
  font-weight: 600;
}

.days{
}

#avatar{
margin-top: -4vh;
margin-left: 10vh;

}

#avatar_img{
  margin: 0 auto;
  margin-top: 1vh;
  height: 6vh;
}

#prof_link{
  text-decoration: none;
  color: white;
}

.profile{
  clear: both;
  color: hsl(215, 51%, 70%);
}

.bottom{
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 2vh;
  line-height: 8vh;
  margin-top: 3vh;
}

.attribution{
  margin: 0 auto;
  background-color: hsl(0, 0%, 100%);
  color: hsl(216, 50%, 16%);
  width: 45vh;
  border-radius: 10px;
}
